<%- include('partials/header-before') %>

<div class="container-success">
    <h1>Uh Oh! Something went wrong...</h1>
    <p>There was a problem signing you up. Please try again or contact the developers.（；´д｀）ゞ</p>
    <a href="/signup">
        <button class="bton" type="button">Try Again</button>
    </a>
    <br>
    <!-- <form action="/signup" method="post">
          <button class="bton" type="submit" name="button">Try Again</button>
        </form> -->

    <img src="img/sad.svg" alt="sad">
  </div>

<%- include('partials/footer') %>
