<%- include('partials/header-before') %>

<div class="container-bg-img">
  <div class="container top">
    <h1>Get Productive with Punkt.</h1>
    <p>Procrastination breeds mediocrity and mediocrity breeds procrastination. </p>
    <p>Stop this vicious cycle of mediocrity with Punkt today!</p>
    <p>( •̀ ω •́ )✧</p>
    <!-- <form action="/signup" method="get">
        <button class="bton" type="submit" id="home-signup">Sign Up</button>
      </form> -->
    <a href="/signup">
      <button class="bton" type="button" id="home-signup">Sign Up</button>
    </a>

  </div>
</div>

<div class="container-middle">

  <div class="feature">
    <div class="feature-desc">
      <h2>Bet with Your Friends!</h2>
      <p>Studying feels bland and pointless?</p>
      <p>If you complete your goals, you take all the money! Else, your friends get to split the amount you bet!</p>
    </div>
    <img src="img/bet.svg" alt="betting-system">
  </div>
  <hr>

  <div class="feature reverse">
    <img src="img/buddy.svg" alt="buddy-system">
    <div class="feature-desc">
      <h2>Get Yourself a Buddy!</h2>
      <p>Lack the self-discipline to study on your own?</p>
      <p>Get paired with a buddy with a common background to study with and improve together!</p>
    </div>
  </div>
  <hr>

  <div class="feature">
    <div class="feature-desc">
      <h2>Climb the Leaderboard!</h2>
      <p>Need peer pressure to stay motivated?</p>
      <p>Accomplish your goals and watch yourself climb up the "Productivity" Leaderboard!</p>
    </div>
    <img src="img/tier.svg" alt="tier-system">
  </div>
</div>

<div class="container-bottom-bg">
  <div class="container bottom">
    <h1>Let's Put a Punkt to our Procrastination.</h1>
    <p>Punkt raises the stakes of your study sessions and gives you the external push to stop procrastinating.</p>
    <p>Give yourself a head start academically and financially with Punkt!</p>
    <a href="/signup">
      <button class="bton" type="button" id="home-signup">Sign Up</button>
    </a>

  </div>

</div>

<%- include('partials/footer') %>
