<%- include('partials/header-before') %>

<div class="container-success">
  <h1>Thank you for signing up!</h1>
  <p>Look forward to becoming more productive with Punkt. ( •̀ ω •́ )✧</p>
  
  <a href="/signup">
      <button class="bton" type="button" id="home-signup" >Login</button>
  </a>

  <img src="img/well-done.svg" alt="well-done">
</div>

<%- include('partials/footer') %>
